<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DevSearch</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
<body>
    <h1>This is the main template</h1>
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}

    <p>FOOTER</p>
</body>
</html>